@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
body {
  background-color: gold;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
h1 {
  text-align: center;
}
#phiDisplay {
  text-align: center;
}
li {
  list-style: none;
}
